.nav-link {
    border-radius: 6px;
    text-decoration: none;
    color: rgb(224, 230, 241, 0.6);
    font-weight: 400;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link.active {
    color: #fff;
    font-weight: 700;
}